#add {
    color: #794A8D;
    border-color: lightblue;
    /* margin: 15px; */
    padding: 20px;
}

nav > a{
    color: white;
}
 ul {
     padding: 0;
 }
 ul div {
     margin: 10px 0;
     font-size: 1.5em;
 }

 .card-list {
     display: flex;
     justify-content: space-between;
     width: 50%;
 }


.remove-icon {
    color: brown;
}

.card-name, legend{
    color: #794A8D;
}

#navigation {
    background: #794A8D;
}