#input-text {
    color: lightblue;
    border-color: lightblue;
    /* margin: 15px; */
    padding: 20px;
}

nav > a{
    color: white;
}
 ul {
     padding: 0;
 }
 ul div {
     margin: 10px 0;
     font-size: 1.5em;
 }

.line {
    text-decoration: line-through;
}



